<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>


</head>
<style>
    .todo-list-header {
        color: black;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 1px;
    }

    .add-button,
    .action-button {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .table th,
    .table td {
        text-align: center;
    }

    .table th:first-child,
    .table td:first-child {
        text-align: center;
    }

    .calendar-container {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .table th:nth-child(1) {
        width: 30px;
    }
    .table th:nth-child(2) {
        width: auto;
    }
    .table th:nth-child(3) {
        width: auto;
    }
    .table th:nth-child(4) {
        width: auto;
    }
    .table th:nth-child(5) {
        width: auto;
    }

</style>

<body>
<!--네비게이션바 -->
<div th:insert="~{navigation.html}"></div>
<!--홈 화면 루투리스트 목록 -->
<div class="row m-0">
    <div class="col-md-5 pr-0">
        <div class="todo-list-header">
            <h3 class="text-center mb-4">Todo List</h3>
        </div>
        <div class="border p-3">
            <button class="btn btn-success add-button"
                    th:onclick="|location.href='@{/{loginType}/todoInsert (loginType=${loginType})}'|">추가
            </button>
            <button class="btn btn-primary action-button" onclick="openUpdateModal()">수정</button>
            <button class="btn btn-danger action-button" onclick="completeTodo()">완료</button>
            <button class="btn btn-success action-button" id="groupBtn" onclick="openGroupModal()">루틴 그룹화</button>

            <table class="table table-striped p-0">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Title</th>
                    <th>Memo</th>
                    <th>Place</th>
                    <th>Date and Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todo : ${todoList}">
                    <td>
                        <input type="checkbox" class="select-checkbox" th:value="${todo.id}"/>
                    </td>
                    <td th:text="${todo.title}"></td>
                    <td th:text="${todo.memo}"></td>
                    <td th:text="${todo.place}"></td>
                    <td th:text="${todo.startTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-7 pr-0">
        <div class="calendar-container" th:insert="~{calendar.html}"></div>
    </div>
</div>
<!--------------------------------------------------------------------------->

<!-- 업데이트 모달 창 -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="openUpdateModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Todo 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 수정 폼 -->
                <form>
                    <div class="form-group">
                        <label for="updateTitle">제목</label>
                        <input type="text" class="form-control" id="updateTitle" required placeholder="수정할 제목">
                    </div>
                    <div class="form-group">
                        <label for="updateDateTime">날짜 및 시간</label>
                        <input type="datetime-local" class="form-control" id="updateDateTime" required>
                    </div>
                    <div class="form-group">
                        <label for="updateMemo">메모</label>
                        <textarea class="form-control" id="updateMemo" required placeholder="수정할 내용"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="updatePlace">장소</label>
                        <input type="text" class="form-control" id="updatePlace" required placeholder="수정할 약속 장소">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="updateTodo()">저장</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------->

<!-- 공유 모달 창 -->
<div class="modal fade" id="openGroupModal" tabindex="-1" role="dialog" aria-labelledby="openGroupModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="openGroupModalLabel">Group Todos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 루틴 정보 입력 폼 -->
                <form id="routineForm">
                    <div class="form-group">
                        <label for="groupTitle">그룹 이름</label>
                        <input type="text" class="form-control" id="groupTitle" required placeholder="그룹명을 입력해주세요!">
                    </div>
                    <div class="form-group">
                        <label for="groupCategory">그룹 종류</label>
                        <input type="text" class="form-control" id="groupCategory" required placeholder="그룹명을 입력해주세요!">
                    </div>
                    <!-- 선택된 Todo들의 ID를 담을 hidden input 추가 -->
                    <input type="hidden" id="selectedTodoIds" th:value="${selectedTodoIds}"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="insetGroup()">그룹</button>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------->

</body>
<script>
    var selectedTodoId;

    $(document).ready(function () {
        // 체크박스 변경 시 이벤트 리스너 추가
        $('.select-checkbox').on('change', function () {
            updateButtonState();
            groupButtonState();

            // 사용자가 체크박스를 클릭할 때마다 알림 권한 요청
            Notification.requestPermission().then(function (permission) {
                if (permission === "granted") {
                    console.log("알림 권한 허용됨");
                } else {
                    console.warn("알림 권한 거부됨");
                }
            });
        });

        groupButtonState();
    });

    //---------------------------------------------------------------------------------

    //선택이 여러개 선택 될경우 수정버튼을 비활성화 시키는 함수
    function updateButtonState() {
        var selectedIds = document.querySelectorAll('.select-checkbox:checked');
        var updateButton = document.querySelector('.btn-primary');

        if (selectedIds.length >= 2) {
            updateButton.disabled = true;
            selectedTodoId = null; // 선택된 Todo가 없을 경우 selectedTodoId 초기화
        } else {
            updateButton.disabled = false;
            selectedTodoId = selectedIds.length === 1 ? selectedIds[0].value : null;
        }
    }

    //---------------------------------------------------------------------------------

    //수정 버튼을 누르면 값을 모달 창을 띄워줌
    function openUpdateModal() {
        updateButtonState();  // 모달 열기 전에 상태 업데이트

        if (selectedTodoId) {
            // 모달 열기
            $('#updateModal').modal('show');
        } else {
            alert('수정할 항목을 선택해주세요.');
        }
    }

    //------------------------------------------------------------------------------------------------
    //모달창에서 입력한 값들을 데이터베이스로 보내주는 함수
    function updateTodo() {
        var updatedTitle = document.getElementById('updateTitle').value;
        var updatedMemo = document.getElementById('updateMemo').value;
        var updatedPlace = document.getElementById('updatePlace').value;

        // 시간 값 가져오기
        var updatedDateTime = document.getElementById('updateDateTime').value;

        // 입력값이 비어있는지
        if (!updatedTitle || !updatedMemo || !updatedPlace || !updatedDateTime) {
            alert('모든 값을 입력하세요.');
            return;
        }

        axios.post('/home/updateTodo', {
            todoId: selectedTodoId,
            updatedTitle: updatedTitle,
            updatedMemo: updatedMemo,
            updatedPlace: updatedPlace,
            updatedDateTime: updatedDateTime
        })
            .then(function (response) {
                console.log(response);
                location.reload();
            })
            .catch(function (error) {
                console.log(error.response.data);
                alert('서버 오류가 발생했습니다.');
            });

        // 모달 닫기
        $('#updateModal').modal('hide');
    }

    //------------------------------------------------------------------------------------------------
    async function completeTodo() {
        var selectedIds = document.querySelectorAll('.select-checkbox:checked');

        if (selectedIds.length === 0) {
            alert('선택된 항목이 없습니다.');
        } else {
            if (confirm('선택된 항목을 완료하시겠습니까?')) {
                var todoIds = Array.from(selectedIds).map(function (checkbox) {
                    return checkbox.value;
                });

                try {
                    // 그룹이 존재하는지 확인
                    const response = await axios.post('/home/checkGroupExistence', {todoIds: todoIds}, {headers: {'Content-Type': 'application/json'}});
                    var exists = response.data.exists;
                    if (exists) {
                        // 그룹이 존재하면 경고 표시
                        if (confirm('투두리스트에 속한 그룹이 존재합니다. 그룹을 삭제하시겠습니까?')) {
                            // 사용자가 확인하면 그룹 삭제
                            await deleteGroup(todoIds);
                        }
                    } else {
                        // 그룹이 존재하지 않으면 진행
                        await deleteTodos(todoIds);
                    }
                } catch (error) {
                    console.log(error.response.data);
                    alert('서버 오류가 발생했습니다.');
                }
            }
        }
    }

    function deleteGroup(todoIds) {
        axios.post('/home/deleteGroup', {todoIds: todoIds}, {headers: {'Content-Type': 'application/json'}})
            .then(function (response) {
                console.log(response);
                location.reload();
                // 그룹 삭제 후 투두리스트 삭제
                deleteTodos(todoIds);
            })
            .catch(function (error) {
                console.log(error.response.data);
                alert('서버 오류가 발생했습니다.');
            });
    }


    function deleteTodos() {
        var selectedIds = document.querySelectorAll('.select-checkbox:checked');

        if (selectedIds.length === 0) {
            alert('선택된 항목이 없습니다.');
        } else {
            var todoIds = Array.from(selectedIds).map(function (checkbox) {
                return checkbox.value;
            });

            axios.post('/home/deleteTodos', {todoIds: todoIds}, {headers: {'Content-Type': 'application/json'}})
                .then(function (response) {
                    console.log(response);
                    location.reload();
                })
                .catch(function (error) {
                    console.log(error.response.data);
                    alert('서버 오류가 발생했습니다.');
                });

        }

    }

    //------------------------------------------------------------------------------------------------

    //그룹 버튼 상태 함수 그룹이 2개 이상 선택될 때만 활성화 됌
    function groupButtonState() {
        var selectedIds = document.querySelectorAll('.select-checkbox:checked');
        var groupButton = document.querySelector('#groupBtn');

        if (selectedIds.length < 2) {
            groupButton.disabled = true;
        } else {
            groupButton.disabled = false;
        }
    }

    //------------------------------------------------------------------------------------------------

    // 루틴을 공유하는 함수
    function openGroupModal() {
        // 선택된 todoId들 가져오기
        var selectedIds = document.querySelectorAll('.select-checkbox:checked');

        var todoIds = Array.from(selectedIds).map(function (checkbox) {
            return checkbox.value;
        });

        // 선택된 Todo들의 ID를 hidden input에 설정
        document.getElementById('selectedTodoIds').value = todoIds.join(',');

        // 모달 열기
        $('#openGroupModal').modal('show');
    }

    function insetGroup() {
        // 선택된 Todo들의 ID를 hidden input에서 가져오기
        var selectedTodoIds = document.getElementById('selectedTodoIds').value.split(',');

        // 나머지 코드는 그대로 유지
        var groupTitle = $('#groupTitle').val();
        var groupCategory = $('#groupCategory').val();

        // 입력값이 비어있는지 확인
        if (!groupTitle || !groupCategory) {
            alert('모든 값을 입력하세요.');
            return;
        }

        axios.post('/home/insertGroup', {
            todoIds: selectedTodoIds.map(Number),
            groupTitle: groupTitle,
            groupCategory: groupCategory,
        })
            .then(function (response) {
                console.log(response);
                alert('그룹화 성공!');
            })
            .catch(function (error) {
                console.log(error.response.data);
                alert('서버 오류가 발생했습니다.');
            });


        // 모달 닫기
        $('#openGroupModal').modal('hide');
    }


</script>
</html>
