<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Routine List</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <!-- FullCalendar 스타일시트 및 스크립트 추가 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <style>
        body {
            background-color: #f8f9fa;
        }

        .todo-container {
            margin-top: 50px;
        }

        .btn-container {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div th:include="navigation.html"></div>

<div class="container todo-container">
    <div class="row">
        <div class="col-md-5">
            <h3 class="text-center mb-4">Routine List</h3>
            <div class="border p-3">
                <div class="btn-container">
                    <button class="btn btn-primary ml-2" onclick="openUpdateModal()">수정</button>
                    <button class="btn btn-danger ml-2" onclick="deleteGroup()">삭제</button>
                    <button class="btn btn-info ml-2" onclick="shareGroup()">공유하기</button>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Title</th>
                        <th>Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="todoGroup : ${todoGroups}">
                        <td>
                            <input type="checkbox" class="select-checkbox" th:value="${todoGroup.id}"/>
                        </td>
                        <td th:text="${todoGroup.groupName}"></td>
                        <td th:text="${todoGroup.category} "></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- 그룹 수정 모달 창 -->
        <div class="modal fade" id="updateGroupModal" tabindex="-1" role="dialog"
             aria-labelledby="updateGroupModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateGroupModalLabel">그룹 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="updateGroupForm">
                            <div class="form-group">
                                <label for="updateGroupName">그룹 이름</label>
                                <input type="text" class="form-control" id="updateGroupName" name="updateGroupName"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="updateGroupCategory">카테고리</label>
                                <input type="text" class="form-control" id="updateGroupCategory"
                                       name="updateGroupCategory" required>
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="updateGroup()">수정</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Share Routine List 테이블 수정 -->
        <!-- 공유 루틴 목록 테이블 -->
        <div class="col-md-5 ml-auto">
            <h3 class="text-center mb-4">Share Routine List</h3>
            <div class="border p-3">
                <div class="btn-container">
                    <!-- 다운로드하기 버튼 추가 -->
                    <button class="btn btn-success" onclick="downloadedTodoListModal()" id="downloadButton" disabled>
                        다운로드하기
                    </button>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>User</th>
                        <th>Title</th>
                        <th>Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 수정된 부분: shareGroups를 사용하여 공유 루틴 목록을 보여줌 -->
                    <tr th:each="sharedRoutine : ${groupList}">
                        <td>
                            <input type="checkbox" class="select-checkbox" th:value="${sharedRoutine.id}"
                                   th:data-name="${sharedRoutine.groupName}"/>
                        </td>
                        <td th:text="${sharedRoutine.user.nickname}"></td>
                        <td th:text="${sharedRoutine.groupName}"></td>
                        <td th:text="${sharedRoutine.category}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 다운로드된 투두 리스트 모달 창 -->
        <div class="modal fade" id="downloadedTodoListModal" tabindex="-1" role="dialog"
             aria-labelledby="downloadedTodoListModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="downloadedTodoListModalLabel" th:text="${selectedGroupName}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row mb-4">
                                <div class="col-md-12 text-center">
                                    <h4 class="mb-3">Group Information</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="border p-3">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Select</th>
                                                <th>Title</th>
                                                <th>Memo</th>
                                                <th>Place</th>
                                                <th>Date and Time</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="todo : ${todoList}">
                                                <td>
                                                    <input type="checkbox" class="select-checkbox"
                                                           th:value="${todo.id}"/>
                                                </td>
                                                <td th:text="${todo.title}"></td>
                                                <td th:text="${todo.memo}"></td>
                                                <td th:text="${todo.place}"></td>
                                                <td th:text="${todo.startTime}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary mr-2 mb-2" onclick="openUpdateModal()">수정</button>
                        <button class="btn btn-success mr-2 mb-2" onclick="downloadTodoList()">다운로드</button>
                        <button class="btn btn-secondary mb-2" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>

<script>
    var selectedGroupId;
    // 문서 로딩 후 실행될 코드
    $(document).ready(function () {
        // 체크박스 변경 시 이벤트 리스너 추가
        $('.select-checkbox').on('change', function () {
            updateButtonState();
            downloadedButtonState();
        });
    });
    //---------------------------------------------------------------------------------

    // 선택이 여러 개 선택될 경우 수정 버튼을 비활성화 시키는 함수
    function updateButtonState() {
        var selectedIds = document.querySelectorAll('.select-checkbox:checked');
        var updateButton = document.querySelector('.btn-primary');

        if (selectedIds.length >= 2) {
            updateButton.disabled = true;
            selectedGroupId = null; // 선택된 Todo가 없을 경우 selectedTodoId 초기화
        } else {
            updateButton.disabled = false;
            selectedGroupId = selectedIds.length === 1 ? selectedIds[0].value : null;
        }
    }

    //---------------------------------------------------------------------------------

    //수정 모달을 띄워주는 함수
    function openUpdateModal() {
        updateButtonState();  // 모달 열기 전에 상태 업데이트

        if (selectedGroupId) {
            // 모달 열기
            $('#updateGroupModal').modal('show');
        } else {
            alert('수정할 항목을 선택해주세요.');
        }
    }

    //---------------------------------------------------------------------------------

    // 그룹을 수정하는 함수
    function updateGroup() {
        var updatedGroupName = document.getElementById('updateGroupName').value;
        var updatedGroupCategory = document.getElementById('updateGroupCategory').value;

        // 입력값이 비어있는지와 그룹 아이디가 있는지 확인
        if (!updatedGroupName || !updatedGroupCategory || !selectedGroupId) {
            alert('그룹 이름과 카테고리를 모두 입력하세요.');
            return;
        }

        // Axios를 사용하여 서버에 수정 요청 보내기
        axios.put('/home/updateGroup', {
            groupId: selectedGroupId,
            updatedGroupName: updatedGroupName,
            updatedGroupCategory: updatedGroupCategory
        })
            .then(function (response) {
                console.log(response);
                location.reload();
                alert('그룹이 수정되었습니다.');
            })
            .catch(function (error) {
                console.log(error.response.data);
                alert('서버 오류가 발생했습니다.');
            });

        // 모달 닫기
        $('#updateGroupModal').modal('hide');
    }

    //---------------------------------------------------------------------------------

    //그룹을 삭제하는 함수
    function deleteGroup() {
        var selectedIds = document.querySelectorAll('.select-checkbox:checked');

        if (selectedIds.length === 0) {
            alert('선택된 항목이 없습니다.');
        } else {
            if (confirm('선택된 항목을 완료하시겠습니까?')) {
                var gorupId = Array.from(selectedIds).map(function (checkbox) {
                    return checkbox.value;
                });

                axios.post('/home/deleteGroups', {groupId: gorupId}, {headers: {'Content-Type': 'application/json'}})
                    .then(function (response) {
                        console.log(response);
                        location.reload();
                    })
                    .catch(function (error) {
                        console.log(error.response.data);
                        alert('서버 오류가 발생했습니다.');
                    });

            }
        }
    }

    //---------------------------------------------------------------------------------

    function shareGroup() {
        var selectedIds = document.querySelectorAll('.select-checkbox:checked');

        if (selectedIds.length === 0) {
            alert('선택된 항목이 없습니다.');
        } else {
            if (confirm('선택된 그룹을 공유하시겠습니까?')) {
                var groupId = Array.from(selectedIds).map(function (checkbox) {
                    return checkbox.value;
                });

                // Axios를 사용하여 서버에 공유 요청 보내기
                axios.post('/home/shareGroups', {groupId: groupId}, {headers: {'Content-Type': 'application/json'}})
                    .then(function (response) {
                        console.log(response);
                        location.reload();
                        alert('그룹이 공유되었습니다.');
                    })
                    .catch(function (error) {
                        console.log(error.response.data);
                        alert('서버 오류가 발생했습니다.');
                    });
            }
        }
    }

    //---------------------------------------------------------------------------------

    // 다운로드 모달 창 열기

    var selectedDownloadId

    function downloadedButtonState() {
        var selectedIds = document.querySelectorAll('.select-checkbox:checked');
        var downloadButton = document.getElementById('downloadButton');

        if (selectedIds.length >= 2) {
            downloadButton.disabled = true;
            selectedDownloadId = null; // 선택된 Todo가 없을 경우 selectedTodoId 초기화
        } else {
            downloadButton.disabled = false;
            selectedDownloadId = selectedIds.length === 1 ? selectedIds[0].value : null;
        }
    }

    async function downloadedTodoListModal() {
        downloadedButtonState();  // 모달 열기 전에 상태 업데이트

        try {
            if (selectedDownloadId) {
                var groupId = selectedDownloadId;
                const response = await axios.get('/home/getTodoListByGroupId/' + groupId);

                console.log('Response from server:', response);

                if (response.data) {
                    console.log('Received data:', response.data);
                    displayTodoListInModal(response.data);
                    $('#downloadedTodoListModal').modal('show');
                } else {
                    console.error('No data received');
                }
            } else {
                alert('다운로드할 항목을 선택해주세요.');
            }
        } catch (error) {
            console.error('Error from server:', error.response?.data);
            alert('서버 오류가 발생했습니다.');
        }
    }

    function displayTodoListInModal(todoList) {
        var modalTableBody = document.querySelector('#downloadedTodoListModal tbody');
        modalTableBody.innerHTML = '';

        todoList.forEach(function (todo) {
            var newRow = modalTableBody.insertRow();
            newRow.innerHTML = `
        <td>
            <input type="checkbox" class="select-checkbox" value="${todo.id}" />
        </td>
        <td>${todo.title}</td>
        <td>${todo.memo}</td>
        <td>${todo.place}</td>
        <td>${todo.startTime}</td>
    `;
        });
    }



</script>
</body>
</html>
